.btn {
  overflow: hidden;
  padding: 11px 32px 12px;
  border-radius: 50px;
  font-family: var(--header-font);
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: calc(14rem / 16);
  transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  z-index: 1;
  line-height: 1.456;
  display: inline-flex;
}

.btn.primary {
  border: 2px solid var(--red);
  color: var(--off-white);
}

.btn.primary::before {
    content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--red);
  border-radius: 50%;
  transform: translate3d(0%, 110%, 0);
  transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.btn.primary:hover:before,
.btn.primary:focus:before {
  transform: scale(1.5);
}

