body {
  background-color: var(--black);
  overflow-x: hidden;
}
.modules {
  display: flex;
}

.main {
  margin-left: 25vw;
  margin-top: 15vh;
}
.box {
  background-color: var(--black-blue);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 2rem;
}
.box__head {
  color: var(--off-white);
  font-family: var(--header-font);
  margin-bottom: 1.5rem;
}
.box__head p {
  opacity: 0.5;
}

.input {
  color: var(--off-white);
  font-family: var(--header-font);
  margin-bottom: 2rem;
}
.input__spacing {
  margin-bottom: 2rem;
}
.input h1 {
  font-size: 15px;
  margin-bottom: 0.25rem;
}
.input input {
  outline: none;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  color: var(--off-white);
  border: 1px solid var(--gray);
  background-color: var(--black2);
}

.stats {
  display: flex;
  max-width: 35vw;
  flex-wrap: wrap;
}

.badge {
  margin-bottom: 1rem;
}

.stat {
  margin-bottom: 2rem;
  background-color: var(--black2);
  padding: 20px 35px 20px 35px;
  border-radius: 15px;
  text-align: center;
  margin-right: 25px;
  min-width: 10vw;
}
.stat__title {
  color: var(--off-white);
  font-family: var(--header-font);
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.stat__about {
  color: var(--off-white);
  font-family: var(--header-font);
  font-weight: 100;
  opacity: 0.5;
  font-size: 25px;
  max-width: 1000px;
}

button {
  background-color: Transparent;
  cursor: pointer;
}

.mb-05rem {
  margin-bottom: 0.5rem;
}

.subheading {
  color: var(--off-white);
  font-family: var(--header-font);
  margin-bottom: 0.25rem;
  margin-right: 1rem;
  font-size: 18px;
  opacity: 0.5;
}
.divider {
  margin-top: 0.5rem;
  max-width: 10vw;
  margin-right: auto;
  margin-left: 0;
  margin-bottom: 1rem !important;
}
.mt {
  max-width: 10vw;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.mt h1 {
  color: var(--off-white);
  font-family: var(--header-font);
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}

@media screen and (max-width: 1660px) {
  .box {
    min-width: 74vw;
  }
  .stat {
    min-width: 70vw;
    margin-right: 0;
  }
  .main {
    margin-left: 10vw;
  }
  .divider {
    max-width: 50vw;
  }
  .mt {
    max-width: 50vw;
  }
}

@media screen and (max-width: 564px) {
  .box {
    min-width: 50vw;
  }
  .stat {
    min-width: 80vw;
    margin-right: 0;
  }
  .main {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }
  .divider {
    max-width: 60vw;
  }
  .mt {
    max-width: 60vw;
  }
}