<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="footer__main">
      <div class="footer__about">
        <h1 class="footer__title">Helper.solar</h1>
        <p class="footer__copyright">© Copyright 2022 Helper.gg. All rights reserved.</p>
        <div class="footer__about__text">
          <h1>about</h1>
          <p>
            Helper.solar is a discord bot that helps you manage & entertain your discord server. It is packed full with different features such as tickets, economy, moderation etc! The bot is always maintained & there is always room for improvment. For support please join the discord server.
          </p>
        </div>
      </div>
      <div class="footer__links">
          <h1>Links</h1>
        <ul>
          <li class="footer__link capatalized">
            <a href="">home</a>
          </li>
          <li class="footer__link capatalized">
            <a href="">github</a>
          </li>
          <li class="footer__link capatalized">
            <a href="">discord</a>
          </li>
          <li class="footer__link capatalized">
            <a href="">wiki</a>
          </li>
          <li class="footer__link">
            <a href="">Top.gg</a>
          </li>
        </ul>
      </div>
       
    </div>
  </body>
</html>
